---
layout: page
title: "Research"
permalink: /research/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for project in site.research reversed %}
  <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
  {% if project.description %}
    <p>{{ project.description }}</p>
  {% endif %}
  {% if project.pdf %}
    <p><a href="{{ project.pdf }}">Download PDF</a></p>
  {% endif %}
  <hr>
{% endfor %}
